<div class="noDataFound-card">
    <div class="container">

        <div class="row justify-content-center align-items-center" style="padding:5% 5% 5% 5%;">
                <h1 class="justify-content-center align-items-center" style="color:#f29d79;">There are no Quotes.</h1>
        </div>

        <br />
     

    </div>
</div>
