<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/156a156f-6337-4dc3-8f8e-971863042d60/resourceGroups/Quotes/providers/Microsoft.Web/sites/OkoulQuotesApp</ResourceId>
    <ResourceGroup>Quotes</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://okoulquotesapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://okoulquotesapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$OkoulQuotesApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>